<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Altero Survive</title>
    <link
      href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link
    href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div id="app" v-if="showView">
      <div class="block">
        <div class="language-container">
          <vs-select
            :placeholder='$t("message.selectLanguage")'
            color="#fff"
            v-model="$i18n.locale"

          >
            <vs-option label="Русский" value="ru"> Русский </vs-option>
            <vs-option label="English" value="en"> English </vs-option>
          </vs-select>
        </div>
        <div class="form-sign">
          <img class="header" src="assets/header.png" alt="" />
          <img class="logo" src="assets/logo.png" alt="" />
          <div class="nav">
            <ul class="links">
              <li
                :class="{tabBorder: isActiveLoginTab }"
                class="signin"
                @click="showLoginTab"
              >
                <a>{{ $t("message.authTab") }}</a>
              </li>
              <li
                :class="{tabBorder: isActiveRegisterTab }"
                class="signup"
                @click="showRegisterTab"
              >
                <a>{{ $t("message.registerTab") }}</a>
              </li>
            </ul>
          </div>
          <form
            v-on:submit.prevent="logIn"
            v-show="isLogin === true"
            class="auth-container"
          >
            <div class="form-group">
              <vs-input
                class="login-input"
                color="#CA9308"
                v-model="authLogin"
                :label='$t("message.loginLabel")'
              >
                <template v-if="authLogin.length < 4" #message-danger>
                  {{ $t("message.loginDanger") }}
                </template>
              </vs-input>
            </div>
            <div class="form-group">
              <vs-input
                class="password-input"
                color="#CA9308"
                v-model="authPassword"
                :label='$t("message.passwordLabel")'
              >
                <template v-if="authPassword.length < 4" #message-danger>
                  {{ $t("message.passwordDanger") }}
                </template>
              </vs-input>
            </div>
            <button class="btn">{{ $t("message.authButton") }}</button>
          </form>
          <form
            v-on:submit.prevent="signIn"
            v-show="isLogin === false"
            class="register-container"
          >
            <div class="form-group">
              <vs-input
                class="login-input"
                color="#CA9308"
                v-model="registerLogin"
                :label='$t("message.loginLabel")'
              >
                <template v-if="registerLogin.length < 4" #message-danger>
                  {{ $t("message.loginDanger") }}
                </template>
              </vs-input>
            </div>
            <div class="form-group">
              <vs-input
                class="email-input"
                color="#CA9308"
                v-model="registerEmail"
                :label='$t("message.registerEmailLabel")'
              >
                <template v-if="!checkEmail" #message-danger>
                  {{ $t("message.registerEmailDanger") }}
                </template>
              </vs-input>
            </div>
            <div class="form-group">
              <vs-input
                class="password-input"
                color="#CA9308"
                v-model="registerPassword"
                :label='$t("message.passwordLabel")'
              >
                <template v-if="registerPassword.length < 4" #message-danger>
                  {{ $t("message.passwordDanger") }}
                </template>
              </vs-input>
            </div>
            <button class="btn">{{ $t("message.registerButton") }}</button>
          </form> 
        </div>
      </div>
    </div>

    <script src="libs/axios.min.js"></script>
    <script src="libs/vue.min.js"></script>
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
